.details-container {
  height: 100%;
}

.banner {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.video-banner {
  height: 50vh;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, #1e202c, rgba(255, 255, 255, 0));
}

.main-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.poster-card {
  position: relative;
  margin-top: -250px;
  padding-left: 65px;
  width: 30%;
  height: 100%;
}

.video-poster-card {
  position: relative;
  margin-top: 50px;
  padding-left: 65px;
  width: 30%;
  height: 100%;
}

.details-poster {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 32px 0 rgba(255, 255, 255, 0.19);
}

.main-details {
  width: 60%;
  padding: 20px 40px;
  text-align: left;
}

.video-main-details {
  width: 60%;
  padding: 80px 40px;
  text-align: left;
}

.details-genres {
  padding: 10px 0px;
  font-size: 12px;
}

.details-genres span {
  color: rgba(255, 255, 255, 0.567);
}

.details-title p {
  font-size: 26px;
  padding: 10px 0px;
}

.details-overview p {
  font-size: 14px;
  padding: 10px 20px 0px 0px;
}

.back-arrow-container {
  width: fit-content;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(65, 63, 63, 0.689);
  top: 10%;
  left: 2%;
  padding: 12px;
  border-radius: 50%;
  border: none;
  z-index: 100000;
}

.back-arrow {
  z-index: 2;
  cursor: pointer;
  position: relative;
  padding: 0px 4px;
}

.cast-member-list {
  margin-top: 20px;
  overflow-y: auto;
  max-height: 200px;
}

.cast-member-item {
  margin: 10px 0px 10px 0px;
}

.cast-member-name {
  font-size: 14px;
  padding-bottom: 10px;
}

.divider {
  border: none;
  border-top: 1px solid #bbbb;
  margin: 5px 0;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #223f52;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1020px) {
  .video-poster-card {
    width: 80%;
  }

  .poster-card {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .main-details-container {
    flex-direction: column;
    align-items: center;
  }

  .video-poster-card,
  .video-main-details {
    width: 95%;
  }

  .video-poster-card {
    display: none;
  }

  .poster-card {
    width: 300px;
    padding: 0;
  }
  .back-arrow-container {
    left: 6%;
  }
}

@media screen and (max-width: 550px) {
  .back-arrow-container {
    left: 12%;
  }
}
